<ion-view view-title="รายชื่อห้องที่พบ" id="main">
  <ion-content>
  <div class="spacer" style="height: 2%;"></div>
 <!-- <h2 class="assertive" style="text-align: center;">รายชื่อห้องที่พบ</h2> -->
    <ion-list>
      <ion-item href="#/app/playlists/{{lists.id}}" ng-repeat="lists in ALL">
      <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="{{lists.image}}">
        <h2>{{lists.title}}</h2>
        <p>{{lists.author}}</p>
        <p>{{lists.description}}</p>
      </div>
      </div>
        </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>